@using StyleShop.Application.Order;

@model IEnumerable<OrderDto>

@{
    ViewData["Title"] = "Orders";
    var isAdmin = User.IsInRole("admin");
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h3>List of orders</h3>

    <a class="btn btn-primary" asp-action="Create">Create New</a>
</div>

@if(!Model.Any())
{
    <section style="min-height: 100%" class="w-100 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h4>Empty list of orders</h4>
            <p>Get started by click <span class="fw-medium">Create New</span> button</p>
        </div>
    </section>
} 
else
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatusId)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) 
    {
        @if(item.IsVisible)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatusId)
                </td>
                <td>
                    @if(isAdmin)
                    {
                        <a class="btn btn-secondary" asp-controller="Order" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-controller="Order" asp-action="Delete" asp-route-id="@item.Id">Delete</a>        
                    }
                    <a class="btn btn-dark" asp-controller="Order" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>
}

